.steps {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .circle {
    display: flex;
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 50%;
    background-color: #ebebeb;
  }
  .circle.done {
    background-color: #000000;
  }
  .progress-bar .indicator {
    position: absolute;
    top: 25%;
    left: 0;
    height: 4px;
    background: #000000;
    z-index: -1;
  }
  .progress-bar .line {
    position: absolute;
    top: 25%;
    left: 0;
    height: 4px;
    background: #ebebeb;
    z-index: -2;
  }
}
