@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s forwards;
}

.animate-slide-down {
  animation: slide-down 0.5s forwards;
}

/* 토글 스타일 */
.toggleSwitch {
  width: 55px;
  height: 25px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #363636;
}

#toggle:checked ~ .toggleSwitch {
  background: #363636;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 23px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

/* 로딩 ui */
.loading {
  @apply pointer-events-none inline-block aspect-square w-6;
  background-color: currentColor;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.loading-dots {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_qM83%7Banimation:spinner_8HQG 1.05s infinite%7D.spinner_oXPr%7Banimation-delay:.1s%7D.spinner_ZTLf%7Banimation-delay:.2s%7D@keyframes spinner_8HQG%7B0%25,57.14%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)%7D28.57%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)%7D100%25%7Btransform:translate(0)%7D%7D%3C/style%3E%3Ccircle class='spinner_qM83' cx='4' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_oXPr' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_ZTLf' cx='20' cy='12' r='3'/%3E%3C/svg%3E");
}
.loading-lg {
  @apply w-10;
}

/* 공통 체크박스 */
.common-checkbox {
  accent-color: black;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
}

/* ios input round, 그림자 제거 */
.none-round-input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.form-input {
  border: 1px solid #d1d5db;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 50px;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.form-input:focus {
  border-color: #6b7280;
  box-shadow: 0 0 0 1px #6b7280;
}

input[type='radio']:focus {
  outline: none; /* 기본 포커스 스타일 제거 */
}

input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type='radio']:checked::after {
  content: '';
  width: 0.8em;
  height: 0.8em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='radio']:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

/* 하트 애니메이션 */
@keyframes smallScale {
  0% {
    transform: scale(1); /* 시작 크기 */
  }
  50% {
    transform: scale(1.3); /* 50% 지점에서 확대 */
  }
  100% {
    transform: scale(1); /* 다시 원래 크기로 복원 */
  }
}

/* 요청서 이미지 슬라이드 커스텀 */
.mySwiper .swiper-pagination-fraction {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 22px;
  border-radius: 11px;
  background-color: rgba(34, 34, 34, 0.15);
  color: white;
  font-size: 12px;

  display: inline;
  align-content: center;
}

/* 스와이퍼 화살표 커스텀 */
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.banner .swiper-slide {
  display: flex;
  align-items: center;
}

.recommend-style .swiper-pagination {
  top: 10px;
  right: 10px;
  width: auto !important;
  left: auto !important;
  margin: 0;
}
.recommend-style .swiper-pagination-bullet-active {
  background: white;
}

.style-gude-swiper .swiper-pagination-fraction {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 22px;

  display: inline;
  align-content: center;
}
.style-gude-swiper .swiper-pagination-bullet-active {
  border: 1px solid black;
  background: black;
}

.style-gude-swiper .swiper-pagination-bullet {
  border: 1px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 5s;
}
/* 박스가 밑에서 위로 */
@keyframes boxUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.boxUp {
  animation: boxUp 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    bottom: -100px; /* 시작 위치 */
  }
  to {
    bottom: 8rem; /* 최종 위치 */
  }
}

@keyframes slideOut {
  from {
    bottom: 8rem;
  }
  to {
    bottom: -100px;
  }
}

.slide-in {
  animation: slideIn 0.1s forwards;
}

.slide-out {
  animation: slideOut 0.1s backwards;
}